<h2>User List</h2>

<p>Notice your URL. <br></p>
<ul>
  <li>If correct, it will be: <code>/a/users</code>.</li>
  <li>If incorrect, it will be: <code>/login</code>.</li>
</ul>

<p>Now <strong>refresh</strong> on this page.</p>
